<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Cars</title>

</head>
<body>
    {% block content %}
        <h1>
            <table border="1">
            <th>Marca</th>
            <th>Modelo</th>
            <th>Ano Modelo</th>
            <th>Ano de Fabricação</th>
            {% for car in cars %}
                    <tr>
                        <td>
                            {{car.brand}}
                        </td>
                        <td>
                            {{car.model}}
                        </td>
                        <td>
                            {{car.model_year}}
                        </td>
                        <td>
                            {{car.factory_year}}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
        </h1>
    {% endblock %}
</body>
</html>